@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*,*::after,*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.ingridientsAddBlock{
    overflow: auto;
    display: inline-block;
    background-color: #F78A3E;
    width: 40%;
    height: 100%;
    border-right: 4px solid #F06D43;
}
.ingridientsAddHead{
    color: rgb(234, 234, 234);
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    line-height: 40px;
    font-size: 30px;
    width: 100%;
    background-color: #F06D43;
}
.pizzaWrapper{
    position: relative;
    display: inline-block;
    width: 60%;
    height: 100vh;
}
.pizzaImage{
    position:absolute;
    height: 50vh;
    margin-left: 50%;
    transform: translateX(-50%);
    /* width: 50%; */
}
.ingridientsRemoveBlock{
    top:50%;
    position: absolute;
    width: 100%;
    height: 5vh;
    display: inline-block;
    background-color: #F78A3E;
    height: 50vh;
}
.ingridientsRemoveHead{
    position: relative;
    color: rgb(234, 234, 234);
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    line-height: 40px;
    font-size: 30px;
    width: 100%;
    background-color: #F06D43;
}
.addedIngridient{
    margin: auto;
    width: 90%;
    border-bottom: 2px solid #F06D43;
    padding-bottom: 10px;
    position: relative;
    margin-top: 10px;
    color: rgb(234, 234, 234);
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    line-height: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ingridientsToRemove{
    height: 35vh;
    overflow:auto;
}
.removeIngridientButton{
    cursor: pointer;
    position: absolute;
    right: 5%;
    background-color: #F06D43;
    border: none;
    color: rgb(234, 234, 234);
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.removeIngridientButton:hover{
    color:#ac4f2f;
}
.imageOfIngridient{
    position: absolute;
    z-index: 1;
    height: 50vh;
    margin-left: 50%;
    transform: translateX(-50%);
}
.ingridientsSectionHead{
    color: rgb(234, 234, 234);
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    line-height: 40px;
    font-size: 30px;
    width: 100%;
    background-color: #F06D43;
}
.addIngridientButton{
    cursor: pointer;
    position: absolute;
    right: 5%;
    background-color: #F06D43;
    border: none;
    color: rgb(234, 234, 234);
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.active{
    color: #ac4f2f;
}
.unactive{
    opacity: 0.5;
}
.price{
    color: rgb(234, 234, 234);
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    width: 70px;
    line-height: 40px;
    font-size: 30px;
    background-color: #F06D43;
    margin: 0;
}
.addIngridientButton:hover{
    color:#ac4f2f;
}
.base{
    z-index: 2;
}
.sauce{
    z-index: 3;
}
.ingridient{
    z-index: 4;
}
.orderButton{
    position: absolute;
    right: 0;
    height: 40px;
    cursor: pointer;
    background-color: #F06D43;
    border-bottom: 4px solid #F78A3E;
    color: rgb(234, 234, 234);
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 40%;
}
.orderButton:hover{
    color:#ac4f2f;
}
@media (max-width: 800px){
    .wrapper{
        flex-direction: column-reverse;
    }
    .orderButton{
        margin-top: 0px;
    }
    .ingridientsAddBlock{
        position: absolute;
        top:100%;
        width: 100%;
    }
    .pizzaWrapper{
        width: 100%;
    }
}